<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="carrinho.css">
    <link rel="stylesheet" href="header.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="http://localhost:3000/home.html">
            <img src="imagens/seta.png" alt="seta" id="seta">
        </a>
        <img src="imagens/logo.png" alt="logo" id="logo">
     </header>
    <div class="cart-container">
        <h1>Carrinho de Compras</h1>
    
        <div id="cart-items">
        </div>
    
        <div class="address-selection">
          <h2>Endereço de Entrega</h2>
          <select name="address" id="address">
          </select>
        </div>

        <div class="message">
          <label for="mensagem" class="field-label">Mensagem</label>
          <textarea id="mensagem" name="mensagem" class="input-field description-field"></textarea>
        </div>
    
        <div class="checkout">
          <button class="checkout-btn" id="checkout-btn">Finalizar Compra</button>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', async () => {
          const token = localStorage.getItem("token");
            if (!token){
                window.location.href = 'login.html';
            }

            const tokenPayload = parseJWT(token);
            console.log(tokenPayload); 
            const codigo = tokenPayload?.userId

            const carrinho = JSON.parse(localStorage.getItem(`carrinho_${codigo}`));
            const container = document.getElementById("cart-items");

            if (carrinho.length === 0) {
                container.innerHTML = "<p>O carrinho está vazio.</p>";
                return;
            }
            container.innerHTML = carrinho.map(item => `
                <div class="cart-item" data-id=${item.codigo}>
                    <div class="product-info">
                        <img src="${item.foto || 'Imagens/semFoto.png'}" alt="Foto da ${item.nome}" />
                        <h3>${item.nome}</h3>
                        <p><strong>Tamanho:</strong> ${item.tamanho}</p>
                        <p><strong>Preço:</strong> R$ ${Number(item.preco).toFixed(2)}</p>
                        <button class="remove-btn" onclick="removerDoCarrinho(${item.codigo})">REMOVER</button>
                    </div>
                </div>
            `).join("");

            
            const addressSelect = document.getElementById('address');
          
          try {
            const response = await fetch(`http://localhost:3000/endereco/${codigo}`);
            
            if (!response.ok) {
              throw new Error('Erro ao buscar os endereços.');
            }
            
            const addresses = await response.json(); 
      
            addresses.forEach(address => {
              const option = document.createElement('option');
              option.value = address.codigo; 
              if (address.numero != null){
                option.textContent = `${address.bairro}, ${address.numero} - ${address.cidade}`;
              } else {
                option.textContent = `${address.bairro}, S/N - ${address.cidade}`;
              }
              addressSelect.appendChild(option);
            });
      
          } catch (error) {
            console.error('Erro ao carregar os endereços:', error);
          }
        });

        function parseJWT(token) {
            if (!token) return null;

            const base64Url = token.split('.')[1];
            if (!base64Url) return null;

            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            const jsonPayload = decodeURIComponent(
                atob(base64)
                    .split('')
                    .map((c) => `%${`00${c.charCodeAt(0).toString(16)}`.slice(-2)}`)
                    .join('')
            );

            return JSON.parse(jsonPayload); 
        }

        document.getElementById('checkout-btn').addEventListener('click', async () => {
            const token = localStorage.getItem("token");
            if (!token){
                window.location.href = 'login.html';
            }

            const tokenPayload = parseJWT(token);
            console.log(tokenPayload); 
            const codigo = tokenPayload?.userId

            const selectedAddress = document.getElementById('address').value; 
            const cartItems = Array.from(document.querySelectorAll('.cart-item')); 
            const message = document.getElementById('mensagem').value;

            const products = cartItems.map(item => ({
                codigoRoupa: item.getAttribute('data-id'), 
            }));

            const data = {
                codigoUsuario: codigo,
                codigoEndereco: selectedAddress,
                mensagem: message,
                products
            };

            try {
                const response = await fetch('http://localhost:3000/venda/comprar', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (!response.ok) {
                    throw new Error('Erro ao finalizar a compra.');
                }
                localStorage.removeItem(`carrinho_${codigo}`);
                alert('Compra finalizada com sucesso!');
                window.location.href = 'home.html';
            } catch (error) {
                console.error('Erro:', error);
                alert('Houve um problema ao finalizar a compra.');
            }
        });

        function removerDoCarrinho(itemCodigo) {
          const token = localStorage.getItem("token");
            if (!token){
                window.location.href = 'login.html';
            }

            const tokenPayload = parseJWT(token);
            console.log(tokenPayload); 
            const codigo = tokenPayload?.userId

            let carrinho = JSON.parse(localStorage.getItem(`carrinho_${codigo}`)) || [];

            carrinho = carrinho.filter(item => item.codigo !== itemCodigo);

            localStorage.setItem(`carrinho_${codigo}`, JSON.stringify(carrinho));

            window.location.reload();
        }
      </script>
</body>
</html>