<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roupas Cadastradas</title>
    <link rel="stylesheet" type="text/css" href="tabelasGet.css" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="header.css" media="screen" />
</head>
<body onload="buscarRoupas()">
    <input type="text" id="codigoUsuario" value="2" hidden> <!--tirar depois-->
     <header>
        <a href="http://localhost:3000/home.html">
            <img src="imagens/seta.png" alt="seta" id="seta">
        </a>
        <img src="imagens/logo.png" alt="logo" id="logo">
     </header>
    <div class="table" id="roupasTable">
        <div class="row">
            <h2>Nome</h2>
            <h2>Descrição</h2>
            <h2>Tamanho</h2>
            <h2>Tipo</h2>
            <h2>Preço</h2>
            <h2>Imagem</h2>
            <h2>Situação</h2>
        </div>
    </div>    
    <script>
        function buscarRoupas() {
            const codigo = document.getElementById('codigoUsuario').value;
            //fetch(`http://localhost:3000/roupa/roupasCadastradas/${codigo}`)
            fetch(`http://localhost:3000/roupa/cadastradas/2`) //tirar depois
                .then(response => {
                    console.log(`Resposta HTTP recebida: ${response.status}`);
                    if (!response.ok) {
                        throw new Error(`Erro HTTP: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const table = document.getElementById('roupasTable');
                    if(data.length == 0){
                        const erro = document.createElement('div');
                        erro.className = 'erro';
                        erro.innerHTML = '<h1>Não há nenhuma roupa cadastrada no momento.</h1>'
                        table.appendChild(erro);
                    } else {
                        data.forEach(roupa => {
                            const row = document.createElement('div');
                            row.className = 'row';
                            if (roupa.descricao == null){
                                roupa.descricao = ""
                            }
   
                            let stringDisponivel = "";
                            if (roupa.disponivel){
                                stringDisponivel = "Disponível";
                            } else {
                                stringDisponivel = "Vendida";
                            }

                            row.innerHTML = ``
                            row.innerHTML = `
                                <div class="cell1">${roupa.nome}</div>
                                <div class="cell2">${roupa.descricao}</div>
                                <div class="cell3">${roupa.tamanho}</div>
                                <div class="cell4">${roupa.tipo}</div>
                                <div class="cell5">R$${roupa.preco}</div>
                                <div class="cell6">
                                    <img src="${roupa.foto}" alt="Foto da roupa">
                                </div>
                                <div class="cell7">${stringDisponivel}</div>
                            `;
                            table.appendChild(row);

                            if (roupa.disponivel){
                                const buttonsCell = document.createElement('div');
                                buttonsCell.className = 'buttonsCell';
                                buttonsCell.innerHTML = `
                                    <button id="editar" onclick="window.location.href='editarRoupa.html?codigo=${roupa.codigo}'">EDITAR</button>
                                    <button id="excluir" onclick="excluirRoupas(${roupa.codigo})">EXCLUIR</button>
                                `;
                                table.appendChild(buttonsCell);
                            }
                        });
                    }      
                })
                .catch(error => {
                    alert("Houve uma falha, tente novamente.")
                });
        }
        
        function excluirRoupas(codigo) {
            const confirmar = confirm("Tem certeza de que deseja excluir esta roupa?");

            if (confirmar) {
                fetch(`http://localhost:3000/roupa/excluir/${codigo}`, {
                    method: 'DELETE' 
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Erro ao excluir a roupa: ${response.status}`);
                    }
                    alert("Roupa excluída com sucesso!");
                    window.location.reload();
                })
                .catch(error => {
                    alert("Houve uma falha, tente novamente.");
                });
            } else {
                console.log('Exclusão cancelada');
            }
        }
    </script>
</body>
</html>