<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" type="text/css" href="tabelasGet.css" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="header.css" media="screen" />
</head>
<body onload="buscarVendas()">
    <input type="text" id="codigoUsuario" value="2" hidden> <!--tirar depois-->
     <header>
        <a href="http://localhost:3000/home.html">
            <img src="imagens/seta.png" alt="seta" id="seta">
        </a>
        <img src="imagens/logo.png" alt="logo" id="logo">
     </header>
<body>
    <div class="table" id="vendasTable">
    </div>   
    
    <script>
        function buscarVendas() {
            const token = localStorage.getItem("token");
            if (!token){
                window.location.href = 'login.html';
            }

            const tokenPayload = parseJWT(token);

            const codigo = tokenPayload?.userId 

            if (!codigo) {
                alert('Não foi possível identificar o usuário autenticado.');
                return;
            }
            fetch(`http://localhost:3000/venda/consultar/${codigo}`)
                .then(response => {
                    console.log(`Resposta HTTP recebida: ${response.status}`);
                    if (!response.ok) {
                        throw new Error(`Erro HTTP: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const table = document.getElementById('vendasTable');
                    if(data.length == 0){
                        addHeader(table);
                        const erro = document.createElement('div');
                        erro.className = 'erro';
                        erro.innerHTML = '<h1>Não há nenhuma compra realizada no momento.</h1>'
                        table.appendChild(erro);
                    } else {
                        let codigo = 0;
                        data.forEach(venda => {
                            if (venda.codigo != codigo){
                                codigo = venda.codigo;

                                addHeader(table);

                                const row = document.createElement('div');
                                row.className = 'row';

                                const horario = new Date(venda.horario);
        
                                const dataFormatada = horario.toLocaleDateString('pt-BR'); 
                                const horaFormatada = horario.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }); 

                                if (venda.mensagem == null){
                                    venda.mensagem = "";
                                }
                                
                                if (venda.numero == null){
                                    venda.numero = "S/N";
                                }
                                row.innerHTML = `
                                    <div class="cell1">${venda.bairro}</div>
                                    <div class="cell2">${venda.numero}</div>
                                    <div class="cell3">${venda.cidade}</div>
                                    <div class="cell4">${venda.estado}</div>
                                    <div class="cell5">${dataFormatada}, ${horaFormatada}</div>
                                    <div class="cell6">${venda.mensagem}</div>
                                `;
                                table.appendChild(row);

                                if (seteDias(venda.horario)){
                                    const buttonsCell = document.createElement('div');
                                    buttonsCell.className = 'buttonsCell';
                                    buttonsCell.innerHTML = `
                                        <button id="editar" onclick="editarVenda(${venda.codigo})">EDITAR</button>
                                        <button id="excluir" onclick="cancelarVenda(${venda.codigo})">CANCELAR</button>
                                    `;
                                    table.appendChild(buttonsCell);
                                }

                                const roupas = document.createElement('div');
                                roupas.className = 'div-roupas';
                                roupas.innerHTML = '<h1>ROUPAS<h1>'

                                table.appendChild(roupas);
                            }

                            const row = document.createElement('div');
                            row.className = 'row';

                            row.innerHTML = ``
                            row.innerHTML = `
                                <div class="cell1">${venda.nome}</div>
                                <div class="cell6">
                                    <img src="${venda.foto}"
                                </div>
                            `;
                            table.appendChild(row);

                        });
                    }
                })
                .catch(error => {
                    alert("Houve uma falha, tente novamente.")
                });
        }

        function addHeader(table) {
        const header = document.createElement('div');
        header.className = 'row-header';
        header.innerHTML = `
            <h2>Bairro</h2>
            <h2>Número</h2>
            <h2>Cidade</h2>
            <h2>Estado</h2>
            <h2>Horário</h2>
            <h2>Mensagem</h2>
        `;
        table.appendChild(header);
        }

        function seteDias(umaData) {
            // Converte o horário atual e o horário a ser verificado para objetos Date
            const dataAtual = new Date();
            const data = new Date(umaData);
            // Calcula a diferença em milissegundos
            const diferencaMS = dataAtual - data;

            // Converte a diferença para dias
            const diferencaDias = diferencaMS / (1000 * 60 * 60 * 24);

            // Verifica se a diferença é maior que 7 dias
            return diferencaDias < 7;
        }

        function cancelarVenda(codigo) {
            const confirmar = confirm("Tem certeza de que deseja cancelar essa Compra?");

            if (confirmar) {
                fetch(`http://localhost:3000/venda/cancelar/${codigo}`, {
                    method: 'DELETE' 
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Erro ao cancelar compra: ${response.status}`);
                    }
                    alert("Compra cancelada com sucesso!");
                    window.location.reload();
                })
                .catch(error => {
                    alert("Houve uma falha, tente novamente.");
                });
            } else {
                console.log('Cancelamento não realizado');
            }
        }

        function parseJWT(token) {
            if (!token) return null;

            const base64Url = token.split('.')[1];
            if (!base64Url) return null;

            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            const jsonPayload = decodeURIComponent(
                atob(base64)
                    .split('')
                    .map((c) => `%${`00${c.charCodeAt(0).toString(16)}`.slice(-2)}`)
                    .join('')
            );

            return JSON.parse(jsonPayload); 
        }
    </script>
</body>
</html>