*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
}

.row, .row-header, .div-roupas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: 1px solid #000;
    transition: background-color 0.2s ease;
} 

.div-roupas {
    height: 100px;
    background-color: #4D00FF;
    justify-content: center;
    color: #DAFF3F;
}

.div-roupas h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.row:first-child, .row-header {
    font-weight: bold;
    background-color: #DAFF3F;
    color: #4D00FF;
    text-transform: uppercase;
    height: 100px;
}

.row:first-child h2, .row-header h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.row-header h2 {
    text-align: center;
    flex: 1;
}

/* Células */
.cell1, .cell2, .cell3, .cell4, .cell5, .cell6, .cell7, .row h2 {
    flex: 1;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    word-wrap: break-word;
}

.cell6 img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.buttonsCell {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    width: 114px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}

#editar {
    background-color: #4D00FF;
    color: #fff;
}

#excluir {
    background-color: #DAFF3F;
    color: #4D00FF;
}

.erro, .sem-chave {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.erro h1, .sem-chave h1{
    font-family: 'Source Sans Pro', sans-serif;
}






